/* 
 -------------------------------------------------
 YAMP Nextflow base config file
 -------------------------------------------------

 A 'blank slate' config file, appropriate for general
 use on most high performace compute environments.

 Assumes that all software is installed and available
 on the PATH. Runs in `local` mode - all jobs will be
 run on the logged in environment.
*/

params 
{
    config_profile_name        = 'Default profile'
    config_profile_description = 'YAMP default workflow'
		
	
			
	/*--------------------------------*
	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
		
	//Adapter sequences and synthetic contaminants to be removed in the trimming step
	adapters="./resources/adapters.fa"	
	artifacts="./resources/sequencing_artifacts.fa.gz"
	phix174ill="./resources/phix174_ill.ref.fa.gz"	
	
	//Reference pan-genome for contamination. It should have been indexed beforehand.
	refForeingGenome="./resources/"
	
	//BowTie2 database for MetaPhlAn2
	mpa_pkl="./resources/bowtie2db/db_v20/mpa_v20_m200.pkl"
	bowtie2db="./resources/bowtie2db/db_v20/"
	bowtie2dbfiles="mpa_v20_m200"
	
	// ChocoPhlAn and UniRef databases
	chocophlan="./resources/chocophlan"
	uniref="./resources/uniref90/"	
	
	//[OPTIONAL]
    //Newick tree filepath, required for phylogenetic alpha diversity (PD_whole_tree, QIIME)
	treepath="null" 
	
}

process 
{
	withName: quality_assessment
	{
		time =  '15m'
		cpus = 4
		memory = '8 GB'	  
	}
	
	withName: dedup
	{
		time =  '1h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: remove_synthetic_contaminants 
	{
		time =  '1h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: trim 
	{
		time =  '1h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: index_foreign_genome 
	{
		time =  '3h'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: decontaminate 
	{
		time =  '3h'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: merge_paired_end_cleaned 
	{
		time =  '3h'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: profile_taxa 
	{
		time =  '2h'
		cpus = 4
		memory = '32 GB'  
	}

	withName: profile_function 
	{
		time =  '24h'
		cpus = 4
		memory = '32 GB'  
	}	

	withName: alpha_diversity
	{
		time =  '30m'
		cpus = 1
		memory = '8 GB'	  
	}
	
	withName: log
	{
		time =  '30m'
		cpus = 1
		memory = '100 MB'  
	}
	
}
