/* 
 -------------------------------------------------
 YAMP Nextflow base config file
 -------------------------------------------------

 A 'blank slate' config file, appropriate for general
 use on most high performace compute environments.

 Assumes that all software is installed and available
 on the PATH. Runs in `local` mode - all jobs will be
 run on the logged in environment.
*/

params 
{
    config_profile_name        = 'Default profile'
    config_profile_description = 'YAMP default workflow'
		
    /* 	Execution flow parameters
     --------------------------------*/		

	mode="complete" //Whether it shold perform only QC, community characterisation, or both (default: both)
    singleEnd = false  //Whether we the input reads are single or paired-end 
	dedup = false	//Whether the de-duplication step should be performed
		
				
    /* 	Processing parameters
     --------------------------------*/
   
    // BBduk parameters for trimming	
    qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
    kcontaminants = 23 //Kmer length used for finding contaminants	
    phred = 10 //regions with average quality BELOW this will be trimmed 
    minlength = 60 //reads shorter than this after trimming will be discarded
    mink = 11 //shorter kmers at read tips to look for 
    hdist = 1  //maximum Hamming distance for ref kmers            
  
    // BBwrap parameters for decontamination	
    mind = 0.95 //Approximate minimum alignment identity to look for
    maxindel = 3 //longest indel to look for
    bwr=0.16 //restrict alignment band to this
  	
    // Resources provided with the pipeline
    artefacts = "$baseDir/assets/data/sequencing_artifacts.fa.gz"
    phix174ill = "$baseDir/assets/data/phix174_ill.ref.fa.gz"
    adapters = "$baseDir/assets/data/adapters.fa"
  
    //Reference pan-genome for contamination
    foreign_genome = "$baseDir/assets/data/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz" //To be used wehn the reference genome has not been indexed yet
    foreign_genome_ref = "" //To be used when the reference geneome has already been indexed
  
    //BowTie2 databases for MetaPhlAn
    metaphlan_databases="$baseDir/assets/data/metaphlan_databases/"
    bt2options="very-sensitive" //presets options for BowTie2
  
    // ChocoPhlAn and UniRef databases for HUMANn analysis
    chocophlan="$baseDir/assets/data/chocophlan"
    uniref="$baseDir/assets/data/uniref"	
}

process 
{
	withName: quality_assessment
	{
		time =  '15m'
		cpus = 4
		memory = '8 GB'	  
	}
	
	withName: dedup
	{
		time =  '2h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: remove_synthetic_contaminants 
	{
		time =  '2h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: trim 
	{
		time =  '2h'
		cpus = 4
		memory = '32 GB'  
	}	
	
	withName: index_foreign_genome 
	{
		time =  '4h'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: decontaminate 
	{
		time =  '4h'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: merge_paired_end_cleaned 
	{
		time =  '15m'
		cpus = 4
		memory = '32 GB'  
	}
	
	withName: profile_taxa 
	{
		time =  '4h'
		cpus = 4
		memory = '32 GB'  
	}

	withName: profile_function 
	{
		time =  '48h'
		cpus = 4
		memory = '32 GB'  
	}	

	withName: alpha_diversity
	{
		time =  '2h'
		cpus = 1
		memory = '8 GB'	  
	}
	
	withName: log
	{
		time =  '30m'
		cpus = 1
		memory = '100 MB'  
	}
	
}
