/* 
 -------------------------------------------------
 YAMP Nextflow testing config file
 -------------------------------------------------

 Test workflow in characterisation mode when single-end reads are provided in input
*/


params {

  /* 	Test configuration
   --------------------------------*/

  config_profile_name        = 'Test profile (single-end, characterisation)'
  config_profile_description = 'Test to check workflow function in characterisation mode when single-end reads are provided in input'
	   
  prefix="single_end_characterisation"
  outdir = "./tests"
 
  //These have been QC'd with YAMP, that generates a single file
  singleEnd = true
  reads1="$baseDir/data/test_data/single_end_QCd.fq.gz"
  mode = "characterisation"	
}
