/* 
 -------------------------------------------------
 YAMP Nextflow testing config file
 -------------------------------------------------

 Defines bundled input files and everything required
 to run a fast and simple test. 
*/


params {

  enable_conda = false

  config_profile_name        = 'Test profile'
  config_profile_description = 'Test to check pipeline function'
	   
  prefix="test_random_genomes"
  outdir = "./tests"
 
  /*
  //Testing QC
  singleEnd = false
  reads1="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R1.fastq"
  reads2="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R2.fastq"
  mode = "QC"
  */
  
  //Testing characterisation
  singleEnd = true
  reads1="$baseDir/data/test_data/test_random_genomes_QCd.fq.gz"
  mode = "characterisation"
      
  //Whether the de-duplication step should be performed
  dedup = true
   
  //BBduk parameters for trimming	
  qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
  kcontaminants = 23 //Kmer length used for finding contaminants	
  phred = 10 //regions with average quality BELOW this will be trimmed 
  minlength = 60 //reads shorter than this after trimming will be discarded
  mink = 11 //shorter kmers at read tips to look for 
  hdist = 1  //maximum Hamming distance for ref kmers            
  
  //BBwrap parameters for decontamination	
  mind = 0.95 //Approximate minimum alignment identity to look for
  maxindel = 3 //longest indel to look for
  bwr=0.16 //restrict alignment band to this
  	
  // Resources provided with the pipeline
  artefacts = "$baseDir/assets/data/sequencing_artifacts.fa.gz"
  phix174ill = "$baseDir/assets/data/phix174_ill.ref.fa.gz"
  adapters = "$baseDir/assets/data/adapters.fa"
  
  //Reference pan-genome for contamination
  foreign_genome = "$baseDir/assets/data/genome.fa"
  
  //foreign_genome_ref = ""  
  foreign_genome_ref = "$baseDir/assets/data/ref"
  
  //BowTie2 databases for metaphlan
  metaphlan_databases="$baseDir/assets/data/metaphlan_databases/"
  bt2options="very-sensitive" //presets options for BowTie2
  
  // ChocoPhlAn and UniRef databases
  chocophlan="$baseDir/assets/data/chocophlan"
  uniref="$baseDir/assets/data/uniref"	
}

process 
{
	withName: quality_assessment
	{
		time =  '15m'
		cpus = 4
		memory = '8 GB'	  
	}
	
	withName: dedup
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: remove_synthetic_contaminants 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: trim 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: index_foreign_genome 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: decontaminate 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: merge_paired_end_cleaned 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: profile_taxa 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: profile_function 
	{
		time =  '1h'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: log
	{
		time =  '15m'
		cpus = 1
		memory = '2 GB'	  
	}
	
		
}