/* 
 -------------------------------------------------
 YAMP Nextflow testing config file
 -------------------------------------------------

 Test workflow in QC mode when paired-end reads are provided in input
 Skips deduplication
*/


params {

  /* 	Test configuration
   --------------------------------*/

  config_profile_name        = 'Test profile (paired-end, QC, no dedup)'
  config_profile_description = 'Test to check workflow function in QC mode when paired-end reads are provided in input, skipping de-duplication'
	   
  prefix="paired_end_QC_nodedup"
  outdir = "$baseDir/tests"
 
  singleEnd = false
  dedup = false
  
  reads1="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R1.fastq.gz"
  reads2="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R2.fastq.gz"
  mode = "QC"

}