/* 
 -------------------------------------------------
 YAMP Nextflow testing config file
 -------------------------------------------------

 Defines bundled input files and everything required
 to run a fast and simple test. 
*/


params {

  /* 	Test configuration
   --------------------------------*/
	
  config_profile_name        = 'Test profile'
  config_profile_description = 'Test to check pipeline function (it runs paired-end, complete)'
	   
  prefix="test"
  outdir = "$baseDir/tests"
 
  singleEnd = false
  reads1="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R1.fastq.gz"
  reads2="$baseDir/data/test_data/random_ncbi_reads_with_duplicated_and_contaminants_R2.fastq.gz"
  mode = "complete"
 
      
  /* 	Processing parameters
   --------------------------------*/

  //Whether the de-duplication step should be performed
  dedup = true
 
  // BBduk parameters for trimming	
  qin=33 //Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
  kcontaminants = 23 //Kmer length used for finding contaminants	
  phred = 10 //regions with average quality BELOW this will be trimmed 
  minlength = 60 //reads shorter than this after trimming will be discarded
  mink = 11 //shorter kmers at read tips to look for 
  hdist = 1  //maximum Hamming distance for ref kmers            

  // BBwrap parameters for decontamination	
  mind = 0.95 //Approximate minimum alignment identity to look for
  maxindel = 3 //longest indel to look for
  bwr=0.16 //restrict alignment band to this
	
  // Resources provided with the pipeline
  artefacts = "$baseDir/assets/data/sequencing_artifacts.fa.gz"
  phix174ill = "$baseDir/assets/data/phix174_ill.ref.fa.gz"
  adapters = "$baseDir/assets/data/adapters.fa"

  //Reference pan-genome for contamination
  foreign_genome = "$baseDir/assets/demo/genome.fa" //To be used when the reference genome has not been indexed yet
  foreign_genome_ref = "" //To be used when the reference genome has already been indexed

  //BowTie2 databases for MetaPhlAn
  metaphlan_databases="$baseDir/assets/data/metaphlan_databases/"
  bt2options="very-sensitive" //presets options for BowTie2

  // ChocoPhlAn and UniRef databases for HUMANn analysis
  chocophlan="$baseDir/assets/demo/chocophlan"
  uniref="$baseDir/assets/demo/uniref"	
}

process 
{
	withName: get_software_versions
	{
		time =  '15m'
		cpus = 1
		memory = '1 GB'
	}
	
	withName: quality_assessment
	{
		time =  '15m'
		cpus = 4
		memory = '8 GB'	  
	}
	
	withName: dedup
	{
		time =  '15m'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: remove_synthetic_contaminants 
	{
		time =  '15m'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: trim 
	{
		time =  '15m'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: index_foreign_genome 
	{
		time =  '15m'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: decontaminate 
	{
		time =  '15m'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: merge_paired_end_cleaned 
	{
		time =  '15m'
		cpus = 2
		memory = '100 MB'  
	}
	
	withName: profile_taxa 
	{
		time =  '30m'
		cpus = 2
		memory = '6 GB'  
	}
	
	withName: profile_function 
	{
		time =  '30m'
		cpus = 2
		memory = '6 GB'  
	}	
	
	withName: alpha_diversity
	{
		time =  '30m'
		cpus = 1
		memory = '4 GB'	  
	}
	
	withName: log
	{
		time =  '15m'
		cpus = 1
		memory = '2 GB'	  
	}
		
}